<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.java101">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MultiLanguage.CustomMultiLanguageActivity"></activity>
        <activity android:name=".MultiLanguage.MultiLanguageActivity" />
        <activity android:name=".CustomTextView.CustomTextViewActivity" />
        <activity android:name=".SQLite.SQLiteGroceryExample.GroceryExampleMainActivity" />
        <activity android:name=".DateTimeFormats.DateTimeExampleActivity" />
        <activity android:name=".CustomObjectsBetweenActivites.ShareObjectsTwoActivity" />
        <activity android:name=".CustomObjectsBetweenActivites.ShareObjectsOneActivity" />
        <activity android:name=".MapLocation.MapLocationExampleActivity" />
        <activity android:name=".ConstraintLayout.ConstraintLayoutExample2Activity" />
        <activity android:name=".ConstraintLayout.DefaultLayoutExampleActivity" />
        <activity android:name=".ConstraintLayout.ConstraintLayoutExampleActivity" />
        <activity android:name=".Menus.MenuExampleActivity" />
        <activity android:name=".Dialogs.AlertDialogExampleActivity" />
        <activity android:name=".Fragments.FragmentsExampleActivity" />
        <activity android:name=".SharedPreferences.SharedPreferencesActivity" />
        <activity android:name=".LinkifyActivity" />
        <activity android:name=".Threads.PostDelayedRunnableActivity" />
        <activity android:name=".Threads.LooperHandlerThread.LooperHandlerThreadActivity" />
        <activity android:name=".Threads.AsyncTaskThreadActivity" />
        <activity android:name=".Threads.BasicThreadActivity" />
        <activity android:name=".Views.GridView.GridViewActivity" />
        <activity android:name=".Views.ListView.ListViewActivity" />
        <activity android:name=".Views.RV.RVActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>